{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-Br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda</title>
</head>

<body>
  <h1 class="mt-5">Minha agenda</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      {% for contato in contatos %}
      <tr>
        <td>
          <a href="#">{{ contato.nome }}</a>
        </td>
        <td>{{ contato.sobrenome }}</td>
        <td>{{ contato.telefone }}</td>
        <td>{{ contato.categoria }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>

{% endblock %}